@import './styles/theme.css';

:root {
  color-scheme: dark;
  font: 16px/145% var(--mc-font-sans);
  color: var(--mc-text);
  background: var(--mc-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
